<div class="current_conditions wrapper_style">
  <div class="zone_title bottom_bar">
    <h4 class="date_string">
      <span id="today_month">October</span>
      <span id="today_date"></span>
      2017
    </h4>
  </div>
  <div class="text_enlarge time_box">
    <p class="hours" id="hours">11</p>
    <p>:</p>
    <p class="minutes" id="minutes">32</p>
    <p>:</p>
    <div class="seconds_holder">
      <p class="ampm" id="ampm">AM</p>
      <p class="seconds" id="seconds">46</p>
    </div>
  </div>
  <div class="weather_conditions">
    <div class="weather_icon" id="current_weather_icon" style="background-position: 0px 40%;"></div>
    <p id="current_weather">Clear</p>
  </div>
  <div class="text_enlarge temp_box">
    <p><span id="current_temperature">70</span> °F</p>
  </div>
</div>