@import url(https://fonts.googleapis.com/css?family=Oswald);

.current_conditions {
    height: 100%;
    text-shadow: black 2px 1px 1px;
    box-shadow: -3px 1px 0 0 rgba(16, 41, 67, 1);
    border-radius: 12px;
    background-color: rgb(31, 131, 249);
    background-image: linear-gradient(rgb(10, 87, 165) 1%, rgb(31, 131, 249) 18%, rgb(10, 87, 165) 54%, rgb(31, 131, 249) 82%, rgb(10, 87, 165));
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding-right: 0;
    padding-left: 0;
}
.weather_icon {
    background: url(../assets/weather_icons_sprite.png);
    height: 116px;
    width: 116px;
    margin: 0 auto;
}
.zone_title {
    text-shadow: black 1px 1px 2px;
    text-align: center;
    margin-bottom: 16px;
    padding-top: 15px;
}
.text_enlarge {
    text-shadow: black 2px 2px 2px;
    font-family: "Oswald", "sans-serif";
    font-size: 3.2em;
    text-align: center;
}
.current_conditions_box {
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
}
/*possible global styles below*/
.bottom_bar:after {
    content: "";
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    width: 90%;
    display: block;
    margin: 12px auto 0 auto;
    border-radius: 3px;
}
@media (min-width: 576px) {

    .current_conditions_box {
        font-size: 1.65em;
    }
    .temp_box {
        margin: 25px 0;
    }
}

@media (min-width: 1000px) {
    .current_conditions_box {
        font-size: 2em;
    }
    .temp_box {
        margin: 0;
    }
}