
<div class="hourly_forecast_container wrapper_style">
  <div class="zone_title bottom_bar">
    <h4>Hourly Forecast</h4>
  </div>
  <div class="hourly_forecast">
    <div class="hour_img_holder">
      <div *ngFor="let tomato of craftedArray" 
      class="weather_icon_small"
      style.background-position = "{{tomato}}" ></div>
    </div>
    <div class="hourly_temp_wrap">
      <span *ngFor="let tomato of mockTemps" 
      class="hourly_temp_holder">{{tomato}}</span>
    </div>
    <div class="timeline_holder">
      <div class="outer_bars">
        <div class="horizontal_bar">
          <div class="inner_bars"></div>
          <div class="inner_bars"></div>
          <div class="inner_bars"></div>
          <div class="inner_bars"></div>
          <div class="inner_bars"></div>
          <div class="inner_bars"></div>
          <div class="inner_bars"></div>
        </div>
      </div>
    </div>
    <div class="hourly_time_holder">
      <span class="hourly_time_span">NOW</span>
      <span class="hourly_time_span">6H</span>
      <span class="hourly_time_span">12H</span>
      <span class="hourly_time_span">18H</span>
      <span class="hourly_time_span">24H</span>
    </div>
    <div class="hourly_day_holder">
      <span class="day_left">Today</span>
      <span class="day_right">Tomorrow</span>
    </div>
  </div>
</div>
