 <div class="location_holder">
 	<div *ngIf="location">
 	<h2><span id="city">{{location.city}}</span>, <span id="state">{{location.state}}</span></h2>
 </div>
 </div>
 <div class="zip_container">
 	<p>Not your location? Enter your Zip Code&nbsp;here:</p>
 	<input 
 	#zipInput 
 	maxlength="5" 
 	placeholder="{{placeHolder}}" 
 	type="text"
 	(blur)="setPlaceholder()"
 	(focus)="rmPlaceholder()"
 	(keyup.enter)="checkZip(zipInput.value); zipInput.value=''">
 	<div class="my_button" (click)="checkZip(zipInput.value); zipInput.value=''">
 		Find
 	</div>
 </div>
 