
.location_holder {
    position: relative;
    text-align: center;
    margin: 24px 0;
}
.zip_container {
    position: relative;
    text-align: center;
    padding: 6px;
    margin-bottom: 24px;
    font-weight: 600;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.zip_container input {
    text-align: center;
    display: block;
    border: none;
    border-radius: 6px;
    margin: 6px auto;
    clear: both;
}
.zip_container p {
    display: inline;
}
.my_button {
    position: relative;
    top: -2px;
    box-shadow: rgb(21, 100, 173) 3px 4px 0px 0px;
    background: linear-gradient(rgb(121, 187, 255) 5%, rgb(55, 141, 229) 100%) rgb(121, 187, 255);
    border-radius: 5px;
    border: 1px solid rgb(51, 123, 196);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 2px 18px;
    text-decoration: none;
    text-shadow: rgb(82, 142, 204) 0px 1px 0px;
}
.my_button:hover {
    background: linear-gradient(rgb(55, 141, 229) 5%, rgb(121, 187, 255) 100%) rgb(55, 141, 229);
    cursor: pointer;
}
@media (min-width: 576px) {
    .zip_container input {
        display: inline-block;
        margin-left: 8px;
        margin-right: 8px;
    }
}