<!--<loader></loader>-->
<div class="global_wrap day_sky">
    <div class="sun_container">
      <div class="sun" id="sun_moon"></div>
    </div>
    <div class="main">
      <header>
        <div class="title">
          <h1>On The Fly Weather</h1><!--<img src="imgs/airplane.png" class="airplane">-->
        </div>
      </header>
      <div class="location_holder">
        <h2><span id="city">Fort Worth</span>, <span id="state">Texas</span></h2>
      </div>
      <div class="zip_container">
        <p>Not your location? Enter your Zip Code&nbsp;here:</p><input id="zip_input" maxlength="5" placeholder="76148" type="text">
        <div class="my_button" id="zip_button">
          Find
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <current-conditions class="col-sm-4 wrapperstyle"></current-conditions>
          <hourly-forecast class="col-sm-8"></hourly-forecast>
        </div>
      </div>
      <weekly-forecast></weekly-forecast>
    </div>
    <div class="bg_bottom">
      <div class="bg_ground"></div>
      <div class="bg_tree"></div>
    </div>
    <div class="foot">
      <h5>API provided by:</h5>
      <div class="wu_logo"></div>
    </div>
  </div>