<div class="global_wrap day_sky">
    <div class="sun_container">
      <div class="sun" id="sun_moon"></div>
    </div>
    <div class="main">
      <header>
        <div class="title">
          <h1>On The Fly Weather</h1><!--<img src="imgs/airplane.png" class="airplane">-->
        </div>
      </header>
      <div class="location_holder">
        <h2><span id="city">Fort Worth</span>, <span id="state">Texas</span></h2>
      </div>
      <div class="zip_container">
        <p>Not your location? Enter your Zip Code&nbsp;here:</p><input id="zip_input" maxlength="5" placeholder="76148" type="text">
        <div class="my_button" id="zip_button">
          Find
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <current-conditions class="col-sm-4 wrapperstyle"></current-conditions>
          <hourly-forecast class="col-sm-8"></hourly-forecast>
        </div>
      </div>
      <div class="weekly_forecast">
        <div class="wk_forecast_day">
          <p class="weekday bottom_bar">
            <span class="wk_forecast_day_text">Tue</span>
            <span class="wk_forecast_day_date">17</span>
          </p>
          <p class="conditions_box">
            <span class="wk_forecast_condition">Clear</span>
          </p>
          <div class="weather_icon_wrap">
            <div class="weather_icon" style="background-position: 0px 40%;"></div>
          </div>
          <div class="wk_temps_small">
            <p class="bottom_bar">
              <span class="wk_forecast_temp_high">High 79°f</span>
            </p>
            <p><span class="wk_forecast_temp_low">Low 51°f</span></p>
          </div>
        </div>
        <div class="wk_forecast_day">
          <p class="bottom_bar weekday">
            <span class="wk_forecast_day_text">Wed</span>
            <span class="wk_forecast_day_date">18</span>
          </p>
          <div class="wk_conditions_small">
            <p class="conditions_box">
              <span class="wk_forecast_condition">Clear</span>
            </p>
            <div class="weather_icon_wrap">
              <div class="weather_icon" style="background-position: 0px 40%;"></div>
            </div>
          </div>
          <div class="wk_temps_small">
            <p class="bottom_bar">
              <span class="wk_forecast_temp_high">High 85°f</span>
            </p>
            <p><span class="wk_forecast_temp_low">Low 56°f</span></p>
          </div>
        </div>
        <div class="wk_forecast_day">
          <p class="bottom_bar weekday">
            <span class="wk_forecast_day_text">Thu</span>
            <span class="wk_forecast_day_date">19</span>
          </p>
          <div class="wk_conditions_small">
            <p class="conditions_box">
              <span class="wk_forecast_condition">Partly Cloudy</span>
            </p>
            <div class="weather_icon_wrap">
              <div class="weather_icon" style="background-position: -28% 39%;"></div>
            </div>
          </div>
          <div class="wk_temps_small">
            <p class="bottom_bar">
              <span class="wk_forecast_temp_high">High 83°f</span>
            </p>
            <p><span class="wk_forecast_temp_low">Low 64°f</span></p>
          </div>
        </div>
        <div class="wk_forecast_day">
          <p class="bottom_bar weekday">
            <span class="wk_forecast_day_text">Fri</span>
            <span class="wk_forecast_day_date">20</span>
          </p>
          <div class="wk_conditions_small">
            <p class="conditions_box">
              <span class="wk_forecast_condition">Overcast</span>
            </p>
            <div class="weather_icon_wrap">
              <div class="weather_icon" style="background-position: 22% 59%;"></div>
            </div>
          </div>
          <div class="wk_temps_small">
            <p class="bottom_bar">
              <span class="wk_forecast_temp_high">High 82°f</span>
            </p>
            <p>
              <span class="wk_forecast_temp_low">Low 68°f</span>
            </p>
          </div>
        </div>
        <div class="wk_forecast_day">
          <p class="bottom_bar weekday">
            <span class="wk_forecast_day_text">Sat</span>
            <span class="wk_forecast_day_date">21</span>
          </p>
          <div class="wk_conditions_small">
            <p class="conditions_box">
              <span class="wk_forecast_condition">Overcast</span>
            </p>
            <div class="weather_icon_wrap">
              <div class="weather_icon" style="background-position: 22% 59%;"></div>
            </div>
          </div>
          <div class="wk_temps_small">
            <p class="bottom_bar">
              <span class="wk_forecast_temp_high">High 85°f</span>
            </p>
            <p><span class="wk_forecast_temp_low">Low 60°f</span></p>
          </div>
        </div>
        <div class="wk_forecast_day">
          <p class="bottom_bar weekday">
            <span class="wk_forecast_day_text">Sun</span>
            <span class="wk_forecast_day_date">22</span>
          </p>
          <div class="wk_conditions_small">
            <p class="conditions_box"><span class="wk_forecast_condition">Chance of a Thunderstorm</span></p>
            <div class="weather_icon_wrap">
              <div class="weather_icon" style="background-position: -78% -60%;"></div>
            </div>
          </div>
          <div class="wk_temps_small">
            <p class="bottom_bar">
              <span class="wk_forecast_temp_high">High 76°f</span>
            </p>
            <p><span class="wk_forecast_temp_low">Low 51°f</span></p>
          </div>
        </div>
        <div class="wk_forecast_day">
          <p class="bottom_bar weekday">
            <span class="wk_forecast_day_text">Mon</span>
            <span class="wk_forecast_day_date">23</span>
          </p>
          <div class="wk_conditions_small">
            <p class="conditions_box">
              <span class="wk_forecast_condition">Clear</span>
            </p>
            <div class="weather_icon_wrap">
              <div class="weather_icon" style="background-position: 0px 40%;"></div>
            </div>
          </div>
          <div class="wk_temps_small">
            <p class="bottom_bar">
              <span class="wk_forecast_temp_high">High 78°f</span>
            </p>
            <p><span class="wk_forecast_temp_low">Low 56°f</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg_bottom">
      <div class="bg_ground"></div>
      <div class="bg_tree"></div>
    </div>
    <div class="foot">
      <h5>API provided by:</h5>
      <div class="wu_logo"></div>
    </div>
  </div>