  <div class="weekly_forecast">
    <div *ngFor="let unit of weeklyForecast" class="wk_forecast_unit wrapper_style">
      <div class="weekday_box">
        <p class="bottom_bar">
          <span class="day_text">{{unit.day}}</span>
          <span class="day_date">{{unit.date}}</span>
        </p>
      </div>
      <div class="conditions_box">
        <p class="day_conditions">
          <span class="wk_forecast_condition">{{unit.condition}}</span>
        </p>
        <div class="weather_icon_wrap">
          <div class="weather_icon" style.background-position="{{unit.icon}}"></div>
        </div>
      </div>
      <div class="temperature_box">
        <p class="bottom_bar">
          <span class="temp_high">{{unit.highTemp}}</span>
        </p>
        <p><span class="temp_low">{{unit.lowTemp}}</span></p>
      </div>
    </div>
    <button (click)="testDataChange()">testDataChange</button>

  </div>